# Terraform
*.tfstate
*.tfstate.backup
.terraform/
.terraform.lock.hcl

# Environment
.env
*.pem
*.key

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Build
target/
dist/
build/

# AWS
*.zip
.aws-sam/

# Node modules
node_modules/
**/node_modules/
npm-debug.log*
package-lock.json

# Lambda packages
*.zip
lambda.zip
